*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 3cm;
    background-color: rgb(39, 39, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    
}

header h1{
    margin-right: 1cm;
}

.logo{
    height: 2cm;
    width: 2cm;
    background-color: white;
}

.logo img{
    height: 2cm;
    width: 2cm;
}



header li{
    display: inline-block;
    margin-right: 2cm;
    font-size: 20px;
}


iframe#zenocelular{
    display: none;
}






@media screen and (max-width: 941px) {

iframe#zenopc{
    display: none;
}

iframe#zenocelular{
    display: block;
}
  
header {
    height: 2cm;
    
}

.logo{
    height: 1cm;
    width: 1cm;
}

.logo img{
    height: 1cm;
    width: 1cm;
}

header h1{
    font-size: 15px;
}

header li{
    font-size: 10px;
    display: block;
    text-align: center;
    padding: 5px;
    background-color: cyan;
    margin-bottom: 10px;
    margin-top: 10px;
}





}
