*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 3cm;
    background-color: rgb(39, 39, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    
}

header h1{
    margin-right: 1cm;
}

.logo{
    height: 2cm;
    width: 2cm;
    background-color: white;
}

.logo img{
    height: 2cm;
    width: 2cm;
}



header li{
    display: inline-block;
    margin-right: 2cm;
    font-size: 20px;
}

header li a{
    text-decoration: none;
    color: white;
}


header li a:hover{
    text-decoration: underline;
}

.player{
    margin: 1cm 0 0 1cm;
}

.quadro1{
    display: flex;
}

.q1{
    height: 4cm;
    width: 10cm;
    margin: 1cm 0 0 15cm;
 background-color: rgb(228, 228, 228);
}

.q1 h2{
    margin: 0 0 0 10px;
}

.q1 h3{
    margin: 0 0 0 20px;
}

.q1 p{
    margin-left: 20px;
}

.atualizando{
    margin-top: 5cm;
}

@media screen and (max-width: 1200px) {

    
    .q1{
       margin: 0 0 0 5cm; 
    }
    
    
    }



@media screen and (max-width: 940px) {


  
header {
    height: 2cm;
    
}

.logo{
    height: 1cm;
    width: 1cm;
}

.logo img{
    height: 1cm;
    width: 1cm;
}

header h1{
    font-size: 15px;
}

header li{
    font-size: 10px;
    display: block;
    text-align: center;
    padding: 5px;
    background-color: cyan;
    margin-bottom: 10px;
    margin-top: 10px;
}

.quadro1{
    display: block;
}

.q1{
   margin: 0 0 0 0; 
}


}
